*.conf linguist-detectable
*.conf linguist-language=shell
*.dtsi linguist-detectable
*.dtsi text linguist-language=C++
*.keymap linguist-detectable
*.keymap text linguist-language=C++
*.overlay linguist-detectable
*.overlay text linguist-language=C++
